.main-board {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(6, 1fr);
  gap: 0;
  height: 65vh;
}

.box {
  margin: 0;
  box-sizing: border-box;
  border: 0.1rem black solid;
}

.date-info {
  margin: 0;
  margin-left: 0.25rem;
}
.single-event {
  background-color: aliceblue;
  margin: 0;
  margin-bottom: 0.1rem;
}
